<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/home/bekerry.JPG"  class="img-thumbnail" alt="Cinque Terre" >
        <h3>เบเกอรี่ ภายในมหาวิทยาลัย</h3>
        <p>ภายในมหาวิทยาลัย มีร้ายเบเกอรี่ตั้งอยู่บริเวณข้างกับศูนย์อาหารโดยมีชื่อร้านว่า"แก้วเจ้าจอม" 
            ซึ่งในร้านนั้นมีของขายมากขาย เช่น ขนม น้ำ เบเกอรี่ต่างๆ ในราคาที่ย่อมเยาว์ไม่แพงจนเกินไป
            ทำให้ขายดีมากๆเพราะของอร่อยและถูก  </p>

        <img src="assets/home/bekery2.jpg"  class="img-thumbnail" alt="Cinque Terre" >
        <h3>เบเกอรี่ ภายในมหาวิทยาลัย</h3>
        <p>ภายในบริเวณในร้านเบเกอรี่</p>

        <img src="assets/home/bekery1.jpg"  class="img-thumbnail" alt="Cinque Terre" >
        <h3>เบเกอรี่ ภายในมหาวิทยาลัย</h3>
        <p>น่ากินมาก !</p>