<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/home/hotelssru1.jpg"  class="img-thumbnail" alt="Cinque Terre" >
        <h2>โรงแรม สวนสุนันทา</h2>
        <p><dd> เป็นสถานที่ฝึกอบรมความรู้ด้านการบริหารและการจัดการโรงแรมที่มีชื่อเสียงแห่งหนึ่งในประเทศไทย 
            บริหารงานโดยมหาวิทยาลัยราชภัฏสวนสุนันทา นอกจากให้บริการห้องพักแล้ว โรงแรมสวนสุนันทาฯ 
            ยังเป็นสถานที่ที่เหมาะแก่การจัดประชุม งานเลี้ยง และสัมมนาต่างๆ เพราะมีทีมงานที่มีความเชี่ยวชาญพร้อมให้บริการอย่างเต็มที่</p>

     <img src="assets/home/hotelssru.jpg"  class="img-thumbnail" alt="Cinque Terre" >    
