<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/home/tummachart.JPG"  class="img-thumbnail" alt="Cinque Terre" >
        <h3>ธรรมชาติภายในมหาวิทยาลัย</h3>
        <p>มหาวิทลัยนั้นตั้งอยู่ใจกลางเมืองกรุงเทพซึ่งมีเนื้อที่ที่จำกัด แต่ก็มีสถานที่ธรรมชาติให้นักศึกษา
            สามารถนั่งพักผ่อน หรือถ่ายรูปได้โดยที่แรงตั้งอยู่หน้าตึก 31 ซึ่งเป็นธรรมชาติที่ร่มรื่นและสดชื่น </p>
          
         <img src="assets/home/tummachart1.JPG"  class="img-thumbnail" alt="Cinque Terre" >
         <h3>ธรรมชาติภายในมหาวิทยาลัย</h3>
         <p>อีกที่หนึ่งก็คือเนินพระนาง ซึ่งเป็นธรรมชาติที่ร่มรื่นและสดชื่น และสงบมากสามารถไปนั่งรับธรรมชาติหรือถ่ายรูปได้มากมาย
         </p>
          
         <img src="assets/home/tummachart2.JPG"  class="img-thumbnail" alt="Cinque Terre" >
         <h3>ธรรมชาติภายในมหาวิทยาลัย</h3>
         <p>อีกที่หนึ่งเลยซึ่งเป็นที่ที่เห็นนักศึกษาไปนั่งกันบ่อยที่สุด ซึ่งตั้งอยู่ตรงบริเวณข้างตึก 31 เป็นลานธรรมชาติสามารถมานั่งจับกลุ่ม
             คุยกันและถ่ายรูปได้ซึ่งวิวดีมากๆเลยนะ
         </p>