<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/home/foodcenter.JPG"  class="img-thumbnail" alt="Cinque Terre" >
        <h3>ศูนย์อาหารภายในมหาวิทยาลัย</h3>
        <p> ภายในมหาวิทยาลัยนั้นมีที่ในการรับประทานอาหารอยู่หลักๆ 2แห่ง คือ แห่งที่1 คือเรือนริมน้ำโดยตั้งอยู่ที่ข้างตึก
            ของคณะพยาบาล โดย จะเป็นมุมที่นักศึกษาสามารถมานั่งรับประทานอาหาร ซึ่งที่แห่งนี้ได้ชื่อว่าเรือนริมน้ำเพราะ ตั้งอยู่บริเวณ
            ริมสระน้ำ </p>
     <img src="assets/home/foodcenter1.jpg"  class="img-thumbnail" alt="Cinque Terre" >
     <h3>ศูนย์อาหารภายในมหาวิทยาลัย</h3>
         <p>อีกที่นึงอยู่ตรงบริเวณ ข้างลานแม่ โดยศูนย์อาหารตรงส่วนนี้จะมีขนาดใหญ่กว่าตรงที่ เรือนริมน้ำ 
             โดยภายในจะมีการติดแอร์เพื่อให้อากาศเย็นสบายมั้ง และมีอาหารให้เลือกหลากหลายกว่าตัวตัวของเรือนริมน้ำ</p>   
