<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron ">
  <h1>Suan Sunandha Rajabhat University</h1>
  <h2>มหาวิทยาลัยราชภัฏ อันดับ 1 ของประเทศ !</h2> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/home/original_ssru1.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
      <h3>ประวัติที่มาของมหาวิทยาลัย</h3>
      <p>แนะนำประวัติความเป็นมาของทางมหาวิทยาลัย...</p>
      <button type="button" class="btn btn-primary">View Detail</button>
    </div>
    
    <div class="col-sm-4">
      <img src="assets/home/hotelssru.jpg" class="img-thumbnail1" alt="Cinque Terre1" width="304" height="145">
      <h3>โรงแรม สวนสุนันทา</h3>
      <p>แนะนำโรงแรมของทางมหาวิทยาลัย...</p>
      <button type="button" class="btn btn-primary">View Detail</button>
    </div>
    
    <div class="col-sm-4">
      <img src="assets/home/foodcenter.JPG" class="img-thumbnai3" alt="Cinque Terre3" width="304" height="145">
      <h3>ศูนย์อาหารภายในมหาวิทยาลัย</h3>        
      <p>แนะนำสถานที่ในการรับประทานอาหารของเด็กในมหาวิทยาลัย...</p>
      <button type="button" class="btn btn-primary">View Detail</button><br><br>
    </div>
    
    <div class="col-sm-4">
      <img src="assets/home/cafecenter.JPG" class="img-thumbnail4" alt="Cinque Terre4" width="304" height="145">
      <h3>Cafe ในมหาวิทยาลัย</h3>        
      <p>แนะนำร้าน Cafe ต่างๆ ในมหาวิทยาลัย...</p>
      <button type="button" class="btn btn-primary">View Detail</button>
    </div>
    
    <div class="col-sm-4">
      <img src="assets/home/san.JPG" class="img-thumbnai5" alt="Cinque Terre5" width="304" height="145">
      <h3>สิ่งศักดิ์สิทธิ์ ในมหาวิทยาลัย</h3>        
      <p>กล่าวถึงสิ่งศักดิ์สิทธิ์ ในมหาวิทยาลัยในแต่ละสถานที่...</p>
      <button type="button" class="btn btn-primary">View Detail</button>
    </div>
    
    <div class="col-sm-4">
      <img src="assets/home/tummachart.JPG" class="img-thumbnail6" alt="Cinque Terre6" width="304" height="145">
      <h3>ธรรมชาติ ในมหาวิทยาลัย</h3>        
      <p>แนะนำสถานที่ที่ใช้ถ่ายภาพและพักผ่อนภายในมหาวิทยาลัย...</p>
      <button type="button" class="btn btn-primary">View Detail</button><br><br>
    </div>
    
    <div class="col-sm-4">
      <img src="assets/home/umong.JPG" class="img-thumbnail7" alt="Cinque Terre7" width="304" height="145">
      <h3>อุโมง เนินพระนาง</h3>        
      <p>อธิบายถึงอุโมง เนินพระนาง ว่าเป็นมาอย่างไร...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      <button type="button" class="btn btn-primary">View Detail</button>
    </div>

    <div class="col-sm-4">
        <img src="assets/home/bekerry.JPG" class="img-thumbnail8" alt="Cinque Terre8" width="304" height="145">
        <h3>ร้านเบเกอรี่ ในมหาวิทยาลัย</h3>        
        <p>ร้านของขายที่มีของขายหลากหลายของมหาวิทยาลัย...</p>
        <button type="button" class="btn btn-primary">View Detail</button>
    </div>

    <div class="col-sm-4">
        <img src="assets/home/kongpad.JPG" class="img-thumbnail9" alt="Cinque Terre9" width="304" height="145">
        <h3>กองพัฒนา นักศึกษา</h3>        
        <p>แนะนำสถานที่ที่รวบรวมสถานที่ต่างๆไว้ภายใน...</p>
        <button type="button" class="btn btn-primary">View Detail</button><br><br>
    </div>  

  </div>
</div>

</body>
</html>