<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/home/cafecenter.JPG"  class="img-thumbnail" alt="Cinque Terre" >
        <h3>Cafe ภายในมหาวิทยาลัย</h3>
        <p>ภายในมหาวิทยาลัยนั้นมีร้าน Cafe ตั้งอยู่ภายในบริเวณตรงข้ามลานจอดรถคณะวิทยาศาสตร์
            ซึ่งมีทั้งร้าน กาแฟ ร้านร้านไอศกรีม ร้านนั่งชิว ร้านซูชิมากมาย สามารถเข้ามาลิ้มลอง ได้
        </p>
     <img src="assets/home/cafe1.JPG"  class="img-thumbnail" alt="Cinque Terre" >
     <h3></h3>
         <h3>ร้านกาแฟแสนอร่อย</h3>   
        <p>มีที่ให้นั่งชิวด้วยนะ</p>
   <img src="assets/home/cafe2.JPG"  class="img-thumbnail" alt="Cinque Terre" >
        <h3>ร้านที่ขายของกินที่สามารถ เข้าไปนั่งชิวหรือทำงานได้</h3>
        <p>ของกินอร่อยมาก</p>