<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/home/original_ssru1.jpg"  class="img-thumbnail" alt="Cinque Terre" >
        <h2>ประวัติที่มาของมหาวิทยาลัย</h2>
        <p>แรกเริ่ม ของการก่อตั้งเดิมที่มหาวิทยาลัยเป็นส่วน หนึ่งของวังสวนสุนันทา ซึ่งถือเป็น 
           เขตพระราชฐานและเป็นสถานที่ประทับพักผ่อนพระอริยาบถของพระบาทสมเด็จ พระจุลจอมเกล้าเจ้าอยู่หัวโดยมี 
           พระราชประสงค์โปรดเกล้าให้มีการจัดหาดอกไม้นานาพรรณ และจัดตั้งเป็น “สวนสุนันทาอุทยาน” </p>
       <p>  อันมีชื่อมาจากสวนของพระอินทร์บนสวรรค์ชั้นดาวดึงส์และพระนามของ สมเด็จพระนางเจ้าสุนันทากุมารีรัตน์พระบรมราชเทวี
           ต่อมาในรัชสมัยพระบาทสมเด็จพระมงกุฎเกล้าเจ้าอยู่หัว ได้มีการสร้างพระตําหนักเพิ่มเติม เพื่อไว้สําหรับเป็นที่ประทับให้แก่เจ้านายฝ่ายใน
           รวมทั้งเป็นอาคารที่พัก สําหรับข้าราชบริพาร จํานวน 32 ตําหนักโดยพระวิมาดาเธอกรมพระสุทธาสินีนาฏปิยมหาราชปดิวรัดดา
           ได้ทรงโปรดให้จัดตั้ง “โรงเรียนนิภาคาร” ขึ้นภายในสวนสุนันทาเพื่อเป็นโรงเรียนสําหรับกุลสตรี
           ให้การศึกษา แก่บุตรีของขุนนาง ข้าราชการผู้มีบรรดาศักดิ์ และข้าหลวงจากตําหนักต่างๆ </p>

       <img src="assets/colum1/pic1.JPG"  class="img-thumbnail" alt="Cinque Terre" > 
      <p>กระทั้งในปี พ.ศ. 2475 เกิดการ เปลี่ยนแปลงระบอบการปกครองที่ส่งผลกระทบต่อระบบเจ้านายเป็นอย่างมากทําให้บรรดาพระบรมวงศานุวงศ์ 
          ในสวนสุนันทาหวั่นเกรงต่อภัยทางการเมืองจึงต่างพากันทยอยออกจากสวนสุนันทาจนหมดสิ้น ส่งผลให้วังสวน 
          สุนันทาที่เคยงดงามถูกปล่อยให้รกร้างขาดการดูแลและทําให้โรงเรียนนิภาคารถูกยกเลิกดําเนินการไปโดย ปริยาย 
          ครั้นในรัชสมัยพระบาทสมเด็จพระเจ้าอยู่หัวอานันทมหิดล วังสวนสุนันทาที่ทรุดโทรมได้รับการฟื้นฟู กลับมาสวยงามอีกครั้ง 
          โดยคณะรัฐมนตรีมีมติให้ใช้พื้นที่ของวังสวนสุนันทาให้เกิดประโยชน์โดยแปรจาก ราชสํานักฝ่ายในเป็นสถานศึกษาและได้จัดตั้งเป็นสถานศึกษาของชาติ
         อันก่อเกิดพัฒนาการของมหาวิทยาลัย ราชภัฏสวนสุนันทามาเป็นลําดับ </p>
      </div>
    </div>
  </div>
    </body>
</html>