<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/home/umong.JPG"  class="img-thumbnail" alt="Cinque Terre" >
        <h3>อุโมง เนินพระนาง</h3>
        <p>สวนสุนันทา เป็นเขตพระราชฐานส่วนหนึ่งของพระราชวังดุสิต  เมื่อพระบาทสมเด็จพระจุลจอมเกล้าเจ้าอยู่ 
            เสด็จพระราชดำเนินประพาสยุโรปครั้งหลังในปี ๒๔๕๐ ได้ทอดพระเนตรเห็นสวนของพระราชวงศ์ยุโรปหลายแห่ง 
            โดยเฉพาะที่ วิลลา โนเบล ซันเรโม ประเทศอิตาลี ทรงพอพระราชหฤทัยมาก
             จึงทรงเกิดความคิดในการสร้างสวนป่าสำหรับประพาสเป็นการส่วนพระองค์เช่นนั้นบ้าง 
             เมื่อเสด็จนิวัติพระนครในปี ๒๔๕๑ ได้ทรงจัดวางแบบการสร้างสวนสุนันทาให้เป็นสวนป่าทันที 
             ทรงกำหนดให้สร้างประตูจากถนนบ๋วยในพระราชวังสวนดุสิต ไปสู่สวนสุนันทา เรียกว่าประตูสี่แซ่ 
             หรือประตูสุนันทาทวาร ทรงออกแบบ ตกแต่งพื้นที่เป็นโขดเขาคูคลอง มีสวนดอกไม้ และตำหนักเรียงรายอยู่ทั่วไป 
             ทรงโปรดให้ขุดคู คลอง และสระน้ำใหญ่ใน    สวนสุนันทา และขุดคลองในบริเวณพระราชวังดูสิต 
             พระราชทานชื่อว่าคลองเม่งเส็ง ดินที่ได้จากการขุดคูคลองและสระน้ำในครั้งนั้นได้นำมาตกแต่งเป็นเนินเขาใหญ่ 
             ซึ่งเป็นสถานที่ประดิษฐานพระราชานุสาวรีย์สมเด็จพระนางเจ้าสุนันทากุมารีรัตน์ฯ ในปัจจุบัน ในการก่อสร้างครั้งนั้นได้ก่ออุโมงค์เพื่อใช้ประโยชน์ได้ 
             ก่อนจะถมดินคลุมด้านบน และทำให้เนินเขานั้นมั่นคงแข็งแรงขึ้นด้วย ดังได้มีลายพระราชหัตถ์ถึง เจ้าพระยายมราช (ปั้น  สุขุม) ทรงปรารภว่า</p>

      <p>  “ดินข้างคลองเม่งเส็งนั้นให้นึกเสียดาย เพราะอยู่ใกล้สวนซี่งเราคิดว่าจะขยายออกไปใหม่ 
          ถ้าขนขึ้นมาที่สวนจะพูนขึ้นเป็นเนินเลนได้สูงอยู่”  เขตพระราชฐานสวนสุนันทาในสมัยพระบาทสมเด็จพระจุลจอมเกล้าเจ้าอยู่หัว
           มีสภาพความเป็นสวนป่าส่วนใหญ่ การก่อสร้างต่างๆยังไม่เสร็จสมบูรณ์ก็สิ้นรัชกาลเสียก่อน พระบาทสมเด็จพระมงกุฎเกล้าเจ้าอยู่หัว 
           รัชกาลที่ ๖ ทรง ดำเนินการต่อมาจนแล้วเสร็จสมบูรณ์ ในปีพ.ศ.๒๔๖๖ และเมื่อพระวิมาดาเธอกรมพระสุทธาสินีนาฏปิยมหาราชปดิวรัดา 
           พระอัครชายาในพระบาทสมเด็จพระจุลจอมเกล้าเจ้าอยู่หัว เสด็จเข้ามาประทับเป็นการถาวรที่ตำหนักในสวนสุนันทา (ปัจจุบันคืออาคาร ๒๗ สายสุทธานภดล) 
           พร้อมพระราชธิดา พระประยูรญาติ และข้าราชบริพาร สวนสุนันทาจึงเป็นศูนย์กลางของราชสำนักฝ่ายในยุคสุดท้ายก่อนเปลี่ยนแปลงการปกครอง
            และพระวิมาดาเธอฯ ทรงใช้อุโมงค์ใต้เนินเขานี้เป็นที่เก็บถ้วยชาม ข้าวของเครื่องใช้ที่ไม่สูงค่านักในอุโมงค์แห่งนี้ เมื่อเปลี่ยนแปลงการปกครอง 
            ข้าราชบริพารได้ขนของในอุโมงค์ไปถวายสมเด็จพระเจ้าลูกเธอ เจ้าฟ้านิภานภดล 
            กรมขุนอู่ทองเขตขัตติยนารีซึ่งทรงลี้ภัยการเมืองไปประทับที่ชวาจนหมดสิ้น 
            อุโมงค์นี้จึงมิได้ใช้ประโยชน์อันใดจนกระทั่ง พ.ศ.๒๔๘๐ คณะรัฐมนตรีในรัฐบาลของพระยาพหลพลพยุหเสนา 
            ได้มีมติให้ใช้สวนสุนันทาเป็นสถานที่จัดการศึกษาสำหรับสตรี ชื่อโรงเรียนสวนสุนันทาวิทยาลัย และในระหว่างสงครามโลกครั้งที่สอง 
            อุโมงค์นี้ก็ได้ทำหน้าที่เป็นหลุมหลบภัยทางอากาศของครู และนักเรียน รวมถึงเป็นที่เก็บเอกสารสำคัญทั้งหมดของกระทรวงศึกษาธิการในสมัยนั้นด้วย 
            กาลเวลาผ่านมาจนปัจจุบันอุโมงค์นี้ก็ยังคงโลดแล่นเป็นส่วนหนึ่งของมหาวิทยาลัยที่ท้าทายกาลเวลา 
             ถ้าอุโมงค์มีชีวิต ก็คงมีเรื่องราวมากมายในระยะร้อยกว่าปีมาเล่าให้ลูกหลานชาวสวนสุนันทาฟังไม่รู้จบสิ้น….. </p>

             <img src="assets/home/umong1.jpg"  class="img-thumbnail" alt="Cinque Terre" >